<div class="banner">
  <div class="container">
    <h1>What-to-watch</h1>
    <p>Write your article on your favorite film of the month and share it so your friends finaly have something quick to watch.</p>
  </div>
</div>
